<li class="flex flex-col space-y-4">
  <div class="flex items-center">
    <div class="box-content w-5 h-5 p-2 mr-4 ring-2 ring-offset-2 ring-slate-700 bg-primary-500">
      <%= icon @icon, class: ' stroke-white' %>
    </div>
    <div class="text-2xl font-semibold text-slate-700"><%= @name %></div>
  </div>
  <p class="text-slate-500"><%= @description %></p>
</li>
